@model Ain_Shams_Hospital.Data.Entities.Patient

@{
    ViewData["Title"] = "UserProfile";
    Layout = "_PatientLayout";
}

<h1 class="text-center" style="color:#ff0000;font-family: Dancing Script" , cursive>My Profile</h1>

<div class="container">
    <div class="col-md-11" style="width: 100%" >
        <img style=" width:190px;height:190px; float:right ; clear: right;; border:2px solid black;border-radius:50%" src="~/images/user.png" />
    </div>
        <hr />
        <dl class="row">

            <dt class="col-sm-2" style="color:#0917b7;font-size:25px;font-weight:bold">
                @Html.DisplayNameFor(model => model.Name):-
            </dt>
            <dd class="col-sm-11" style="font-size:20px">
                 @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2" style="color:#0917b7;font-size:25px;font-weight:bold">
                @Html.DisplayNameFor(model => model.Phone):-
            </dt>
            <dd class="col-sm-11" style="font-size:20px">
                 @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt class="col-sm-2" style="color:#0917b7;font-size:25px;font-weight:bold">
                @Html.DisplayNameFor(model => model.Health_Progress):-
            </dt>
            <dd class="col-sm-11" style="font-size:20px">
                 @Html.DisplayFor(model => model.Health_Progress)
            </dd>
            <dt class="col-sm-2" style="color:#0917b7;font-size:25px;font-weight:bold">
                @Html.DisplayNameFor(model => model.Medical_Record):-
            </dt>
            <dd class="col-sm-11" style="font-size:20px">
                 @Html.DisplayFor(model => model.Medical_Record)
            </dd>
        </dl>
        
</div>
<div class="container mt-5">
    @Html.ActionLink("Edit& Details", "Edit", new { id = Model.Id }) |  <a asp-controller="Patient" asp-action="Home">Back to List</a> 
    
</div>
