@model Ain_Shams_Hospital.ViewModels.ManagerSrch

@{
    ViewData["Title"] = "ManagerHome";
    Layout = "~/Views/Manager_Layout.cshtml";
}

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}



<div class="row">
    <div class="col-md-4">
        <form asp-action="ManagerHome">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<h6 style="color:#ff0000">@ViewBag.NameDoesntExist</h6>

<div class="card">
    <div class="card-header">
        <h3>Staff Personal Information </h3>
    </div>


    <div class="card-body">
        <h4>Name:</h4><h6>@ViewBag.DD1</h6>
        <hr />
        <h4>Phone:</h4><h6>@ViewBag.DD2</h6>
        <hr />
        <h4>Starting Day:</h4><h6>@ViewBag.DD3</h6>
        <hr />
        <h4>Specialization:</h4><h6>@ViewBag.DD4</h6>
        <hr />
        <h4>Email:</h4><h6>@ViewBag.DD5</h6>
    </div>
</div>

