@page
@{
    var Blood_Unit = ViewBag.Blood_Units;
}
@{
    var facility = ViewBag.Hospital_Facility;
}
<div class="row">
    <div class="col-md-6">
        <h1>Blood_Unit</h1>
        <br />
        <table>
            <tr>

                <th>Type : </th>
                <th>Amount : </th>
            </tr>

            @foreach (var p in Blood_Unit)
            {



                <tr>

                    <th>@p.Type</th>
                    <th>@p.Amount</th>
                </tr>

            }
        </table>
    </div>
            <div class="col-md-6">
                <h1>Emergency bed</h1>
                <br />
                <table>
                    <tr>

                        <th>Type : </th>
                        <th>Available : </th>
                        <th>Start_Working : </th>
                        <th>End_Working : </th>
                    </tr>

                    @foreach (var n in facility)
                    {



                        <tr>

                            <th>@n.Type</th>
                            <th>@n.Available</th>
                            <th>@n.Start_Working_Hour</th>
                            <th>@n.End_Working_Hour</th>

                        </tr>

                    }
                </table>
            </div>
        </div>
