@page
@model Ain_Shams_Hospital.ViewModels.DoctorVM.MainVM
@{
    var follow_up = ViewBag.follow_ups;
}

<!-- Cards Section -->
<form asp-action="Main" id="doctor-main">
    <div class="row form-group no-color">
        <label class="control-label col-1" name="Search_Item">Search:</label> 
        <input class="form-control col-3" name="Search_Item" type="text"/>
        <input type="submit" value="Go" class="ml-2 btn btn-success d-inline" /> 
    </div>
    
    <div class="row">
        @foreach (var fp in follow_up)
        {
            <div class="card col-md-3 mx-2 mb-3 p-0">
                <div class="card-body">
                    <h4 class="card-title text-danger">Patient No. @fp.Item1.Id </h4>
                    <div class="card-text">
                        <h6>Name: @fp.Item1.Name</h6>
                        <h6>Follow Up: @fp.Item2.Follow_Up_Type.Name</h6>
                        <h6>Date: @fp.Item2.Start_Hour</h6>
                    </div>
                    <button name="P_Id" value="@fp.Item1.Id" type="submit" class="stretched-link"></button>
                </div>
            </div>
        }
    </div>
    <!--<div class="card-body text-center">
        <h2 class="text-center">If you need to trasfer to emergency. </h2>
        <hr />
        <a class="btn btn-dark w-auto text-center" href="Emergency" role="button">Emergency</a>
    </div>-->
</form>