@page
@model Ain_Shams_Hospital.ViewModels.DoctorVM.PatientFollowUpVM
@{
    var patientData = ViewBag.data1;
}

@section Scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="col-md-9 offset-md-2">
    @foreach (var p in patientData)
    {
    <div class="card card-body">
        <h1 class="text-center text-success">Patient personal informations </h1>
        <hr />
        <h4>Name: @p.Name</h4>
        <hr />
        <div class="row">
            <h4 class="col-6">Phone: @p.Phone</h4>
            <h4 class="col-6">Email: @ViewBag.data3</h4>
        </div>
        <hr />
        <div class="row">
            <h4 class="col-6">Health Progress: @p.Health_Progress</h4>
            <h4 class="col-6">Status: @ViewBag.status</h4>
        </div>
    </div>

        <div class="card card-body">
            <h3>Patient Medical_Record </h3>
            <hr />
            <h4>@p.Medical_Record</h4>
        </div>
        <br>
        <form asp-action="PatientFollowUp" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label name="Medical_Record" class="text-success h3">Add Medical_Record:</label>
                <textarea name="Medical_Record" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit Medical Record" class="btn btn-primary" />
            </div>
        </form>
        <hr class="border-top-dark">
        <form asp-action="PatientFollowUp" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label name="Health_Progress" class="text-success h3">Add Health_Progress:</label>
                <input type="range" id="send" value="@p.Health_Progress" oninput="result.value=send.value" name="Health_Progress" class="form-control">
                <br>
                <input type="text" id="result" value="@p.Health_Progress" class="form-control">
            </div>

            <div class="form-group">
                <input type="submit" value="Edit Health Progress" class="btn btn-primary" />
            </div>
        </form>
        <hr class="border-top-dark">

        <form asp-action="PatientFollowUp" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label name="Status" for="status" class="text-success h3 mr-5">Add Status:</label>

                <select id="status" name="Status" class="border rounded mr-3 h6">
                    <option value="Pending">Pending</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Finished">Finished</option>
                </select>

                <input type="submit" value="Edit Status" class="btn btn-primary" />
            </div>
        </form>
        <hr class="border-top-dark">

        <br>
        <form class="card card-body">
            <h2 class="text-center">If you need to trasfer patient. </h2>
            <hr />
            <a class="btn btn-dark w-auto text-center" href="Transfer" role="button">Transfer</a>
        </form>
        }
    </div>