@model Ain_Shams_Hospital.ViewModels.ManagerSrch

@{
    ViewData["Title"] = "ManagerHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


<h1>ManagerHome</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ManagerHome">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div class="col-md-9 ">
    <form class="card card-body">
        <h1>Staff personal informations </h1>
        <hr />
        <h4>name :</h4>
        <h4>@ViewBag.DD1</h4>
        <hr />
        <h3>phone :</h3>
        <h3>@ViewBag.DD2</h3>
        <hr />
        <h3>Starting Day :</h3>
        <h3>@ViewBag.DD3</h3>
        <hr />
        <h3>Spatialization :</h3>
        <h3>@ViewBag.DD4</h3>
        <hr />
        <h3>mail :</h3>
        <h3>@ViewBag.DD5</h3>
    </form>
</div>

