@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2></h2>
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Service</th>
            <th scope="col">Name</th>
            <th scope="col">Money</th>
            <th scope="col">Date</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var x in ViewBag.D)

        {

            <tr>
                <th scope="row">@ViewBag.R</th>



                <td>@x.Patient.Name</td>
                <td>@x.Money</td>
                <td>@x.Date</td>
            </tr>
        }
        <tr>
            <td>@ViewBag.t</td>
        </tr>
    </tbody>

</table>