@model Ain_Shams_Hospital.Data.Entities.Registration

@{
    ViewData["Title"] = "SignUp";
}



<h2>Registration</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        
            <div>
                <label> Activation Code </label>
                <input type="text" id="idd" />

            </div>
            <div class="form-group">
                <button type="button" onclick="myFunction()">SignUp</button>
                <script>
                function myFunction() {
                    let i = document.querySelector('#idd').value;
                    if (i == 0) //patient code
                       location.href='@Url.Action("RegistrationPatient","Home")';
                    else if (i[0] == 1)  //Doctor code
                        location.href='@Url.Action("RegistrationStaff", "Home")';
                    else if (i[0] == 3)   //lab code
                       location.href='@Url.Action("RegistrationStaff", "Home")';
                    else if (i[0] == 4)   //finance code
                       location.href='@Url.Action("RegistrationStaff", "Home")';
                    else if (i[0] == 5)   //frontdesk code
                        location.href='@Url.Action("RegistrationStaff", "Home")';
                    else if (i[0] == 2)   //manger code
                     location.href='@Url.Action("RegistrationStaff", "Home")';

                }
                </script>
            </div>
        </form>
    </div>
</div>

<div>
   
    <form action="https://localhost:44305/Home/login">
        <input type="submit" value="login" />
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
